
<div id="top-navbar" class="navbar navbar-inverse main-navbar navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".top-bar">
        <span class="sr-only">开启</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}" style="text-align: center;">{{ site.title }}<span style="margin-top: 7px; display: block;" class="badge">ltfc.net开发者Blog</span></a>
    </div>
    <div id="topbar" class="navbar-collapse collapse top-bar">
      <ul class="nav navbar-nav">
        <li><a href="http://ltfc.net" id="essence-zone" role="button" class="change-view">中华珍宝馆首页</a></li>
        <li><a href="/" id="essence-zone" role="button" class="change-view">全部博文</a></li>
        <li><a href="/about" id="modern-zone" role="button" class="change-view">关于</a></li>
      </ul>
    </div>
  </div>
</div>